.heading1 {
  font-size: 3rem;
  font-size: clamp(2.5rem, 3.33vw, 6rem);
  line-height: 1.5;
}

.heading2 {
  font-size: 2.5rem;
  font-size: clamp(2rem, 2.77vw, 5rem);
  line-height: 1.5;
}

.heading3 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 2.22vw, 4rem);
  line-height: 1.5;
}

.heading4 {
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 1.66vw, 3rem);
  line-height: 1.5;
}

.heading5 {
  font-size: 1rem;
  font-size: clamp(1rem, 1.33vw, 2rem);
  line-height: 1.5;
}

.paragraph {
  font-size: 1.13rem;
  font-size: clamp(1rem, 1.33vw, 2.26rem);
  line-height: 1.5;
}

.subtext {
  font-size: 0.88rem;
  font-size: clamp(0.88rem, 1.2vw, 1.6rem);
  line-height: 1.5;
}
