.row {
  padding-top: 30vh;
}

.image {
  width: 100%;
  min-width: 150px;
  height: auto;
}

.buttons {
  display: flex;
  gap: 26px;
}

.beansLeft {
  width: 30vw;
  position: absolute;
  left: 0;
  top: 500px;
}

.beansRight {
  position: absolute;
  width: 30vw;
  top: 0px;
  right: -10vw;
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .colLeft {
    order: 1;
  }

  .colRight {
    margin-bottom: 50px;
  }
}
