.DishCard {
  width: 100%;
  padding: 30px 24px 25px;
  max-width: 400px;
  background-color: white;
  border-radius: 12px;
  min-width: 300px;
  margin: auto;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.DishCardHeader img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
}

.DishCardBody {
  padding: 0 10px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.rating {
  position: absolute;
  z-index: 1;
  top: 37px;
  left: 34px;
}

.buttons {
  display: flex;
  gap: 24px;
}

.bodyRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.cartIcon {
  background: var(--color-primary);
  padding: 10px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  cursor: pointer;
}

.cartIcon:hover {
  animation: tada 0.6s 1;
}

.cart {
  font-size: 1.25;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cart span {
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8) rotate(-5deg);
  }
  50%,
  70%,
  90% {
    transform: scale(1.15) rotate(5deg);
  }
  60%,
  80% {
    transform: scale(1.15) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
